<!DOCTYPE html>
<html>
    <head>
        <title>留友圈</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF8"/>
        <link rel="stylesheet" href="css/bootstrap.min.css"/>
        <link rel="stylesheet" href="css/bootstrap-theme.min.css"/>
        <script src="js/bootstrap.min.js" type="application/javascript"></script>
    </head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">留友圈</span>
        </button>
        <a class="navbar-brand" href="#">留友圈</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <form class="navbar-form navbar-left">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="寻之题">
          </div>
          <button type="submit" class="btn btn-default">去之</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="https://gitee.com/oauth/authorize?client_id=3af92bdef23405b4bf970b5dfbc76ff05d71e65a6a38bacdf2ff561533f8008d&redirect_uri=http://localhost:80/callback&response_type=code">登入</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">信集</a></li>
              <li><a href="#">洞见</a></li>
              <li><a href="#">归去</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</body>
</html>